<div class="gtco-section">
    <div class="gtco-container">
        <div class="row">
            <incidence-list show="true" limit="3" list-config="$ctrl.listConfig"></incidence-list>
        </div>
    </div>
</div>