 <div class="home-page">

  <header id="gtco-header" class="gtco-cover gtco-cover-md" role="banner" style="background-image: url(../images/img_bg_2.jpg)">
		<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 text-left">
					<div class="row row-mt-15em">
						<div class="col-md-4">
							<h1>Let our community help you.<br />
								<strong>Partner up</strong>
							</h1>	
						</div>
						<div class="col-md-4 col-md-push-1">
							<div class="form-wrap" >
								<div class="tab">
									<div class="tab-content" style="background-color:rgb(9, 198, 171);">
										<div class="tab-content-inner active">
											<h3>Let Us Help You</h3>
											<div class="row">
												<div class="col-md-12">
													<br />
													<br />
													<p style="color: rgb(255, 255, 255);"">
														Can you offer some help?<br />
														Get money by solving people incidences.<br />
														Let us do the rest.
													</p>
													<br />
													<br />
													<a id="btn_partner" ui-sref-active="active" ui-sref="app.register"><input ng-click="$ctrl.redirectType('partner');" style="background-color:rgb(255, 255, 255); color:rgb(10, 222, 192);" onmouseout="this.style.color='rgb(10, 222, 192)'" onmouseover="this.style.color='rgb(255, 255, 255)'" type="button" class="btn btn-primary btn-block" value="Register as partner"></a>
												</div>
											</div>
										</div>

										
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-md-push-1">
							<div class="form-wrap">
								<div class="tab">
									<div class="tab-content">
										<div class="tab-content-inner active">
											<h3>Let Us Help You</h3>
											<div class="row">
												<div class="col-md-12">
													<br />
													<br />
													<p>
														Is something disturbing your patience?<br />
														Create an incidence.<br />
														Let us solve it.
													</p>
													<br />
													<br />
													<a id="btn_client" ui-sref-active="active" ui-sref="app.register"><input ng-click="$ctrl.redirectType('client');" type="button" class="btn btn-primary btn-block" value="Register as client"></a>
												</div>
											</div>
										</div>

										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	
	<div class="gtco-section" style="padding-bottom:30%;">
		<div class="gtco-container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
						<h2>Most Popular Destination</h2>
						<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
					</div>
				</div>
			<!-- List the current incidences -->
			<incidence-list show="false" limit="3" list-config="$ctrl.listConfig"></incidence-list>		
		</div>
	</div>
	<div id="gtco-features">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
					<h2>How It Works</h2>
					<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-6">
					<div class="feature-center" data-animate-effect="fadeIn">
						<span class="icon">
							<i>1</i>
						</span>
						<h3>Lorem ipsum dolor sit amet</h3>
						<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="feature-center" data-animate-effect="fadeIn">
						<span class="icon">
							<i>2</i>
						</span>
						<h3>Consectetur adipisicing elit</h3>
						<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="feature-center" data-animate-effect="fadeIn">
						<span class="icon">
							<i>3</i>
						</span>
						<h3>Dignissimos asperiores vitae</h3>
						<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
					</div>
				</div>
				

			</div>
		</div>
	</div>


	<div class="gtco-cover gtco-cover-sm" style="background-image: url(../images/img_bg_1.jpg)">
		<div class="overlay"></div>
		<div class="gtco-container text-center">
			<div class="display-t">
				<div class="display-tc">
					<h1>We have high quality services that you will surely love!</h1>
				</div>	
			</div>
		</div>
	</div>
</div>
