<div class="gtco-section" style="padding-bottom:30%;">
    <div class="gtco-container">
        <div class="row">
            <message-list></message-list>
            <message-form></message-form>
        </div>
    </div>
</div>