<button ng-show="false" id="adviseIssue" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
<div ng-show="issued">
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
        
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">We're sorry</h4>
                </div>
                <div class="modal-body">
                    <p>This is issue is now being solved.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
            
        </div>
    </div>
</div>
<fieldset issued="issued" ng-disabled="issued">
    <div class="gtco-section">
        <div class="gtco-container">
            <div class="row">    
                <div class="headerincidence">
                    <h2>{{$ctrl.incidence.name}}</h2>
                    {{$ctrl.incidence.type}}
                </div>
    
                <div style="padding-bottom: 5%; padding-right: 5%; float: left;max-width: 50%; max-height: 50%;">
                    <div>
                        <img src="{{$ctrl.incidence.img}}" height="100%" width="100%"/>
                    </div>
                </div>
                <div style="padding-left: 5%; float: right;max-width: 50%; max-height: 50%;">
                    <div style="padding-top: 3%; text-align: left;">
                        <div class="control-group">
                        <h4>{{$ctrl.incidence.desc}}<h4>
                        </div>
                    </div>
                </div>
                <div style="padding-bottom: 20%; padding-top: 10%;" map-lazy-load="https://maps.google.com/maps/api/js">
                    <ng-map center="[{{$ctrl.lat}}, {{$ctrl.lng}}]" zoom="13">
                        <shape id="circle" name="circle" no-watcher="true"
                                title="{{$ctrl.incidence.name}}"
                                stroke-color="rgb(9, 198, 171)"
                                stroke-opacity="0.8"
                                stroke-weight="2"
                                fill-color="rgb(9, 198, 171)"
                                fill-opacity="0.35"
                                center="[{{$ctrl.lat}}, {{$ctrl.lng}}]"
                                radius="1200">
                        </shape>
                    </ng-map>
                </div>
                <div show-type="true" style="padding-top: 15%;max-width: 100%; max-height: 50%;">
                    <div class="col-md-12">
                        <h3>Can you solve this issue?</h3>
                        <br /><br />
                        <form id="confirmation_form" name="confirmation_form" class="confirmation_form" ng-submit="vm.SubmitConfirmation()">
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <h4>Make a small introduction:</h4>
                                    <textarea required ng-model="vm.inputIntroduction" id="inputIntroduction" name="inputIntroduction" cols="200" rows="5" class="form-control" placeholder="Being polite is a must here"></textarea>
                                    <span class="text-danger" ng-show="confirmation_form.inputIntroduction.$error.required && (confirmation_form.inputIntroduction.$dirty || confirmation_form.inputIntroduction.$touched)">Try to be polite, please!</span>
                                </div>
                            </div>
                
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <h4>Describe your thoughts on the issue/s:</h4>
                                    <textarea required ng-model="vm.inputMessage" id="inputMessage" name="inputMessage" cols="200" rows="10" class="form-control" placeholder="Don't hesitate on your advise"></textarea>
                                <span class="text-danger" ng-show="confirmation_form.inputMessage.$error.required && (confirmation_form.inputMessage.$dirty || confirmation_form.inputMessage.$touched)">Without an advise you're not good enough for the client.</span>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <h4>How much will it be <em>(no negotiation allowed, so be clear with your intentions)</em>:</h4>
                                </div>
                                <div class="col-md-2">
                                    <input class="form-control" required ng-model="vm.inputPrice" type="number" id="inputPrice" name="inputPrice" min="0">
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary" name="submit" id="submitBtn" value="Send Offer" 
                                ng-show="confirmation_form.inputIntroduction.$valid && confirmation_form.inputMessage.$valid && confirmation_form.inputPrice.$valid"
                                ng-click="SubmitConfirmation()" />
                                <div id="resultMessageOk" class="msg_ok">{{vm.resultMessageOk}}</div>
                                <div id="resultMessageFail" class="msg_error">{{vm.resultMessageFail}}</div>
                            </div>
                        </form>		
                    </div>
                </div>
            </div>
        </div>
    </div>
</fieldset>