<div class="gtco-section">
    <div class="gtco-container">
        <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
            <h2>Help Someone!</h2>
        </div>
        <div class="col-md-6">
                <!-- Tabs for toggling between feed, article lists -->
            <div class="feed-toggle">
                <ul class="nav nav-pills outline-active">

                    <li class="nav-item">
                        <a href="" class="nav-link"
                        ng-class="{ active: $ctrl.listConfig.type === 'all' && !$ctrl.listConfig.filters }"
                        ng-click="$ctrl.changeList({ type: 'all' })">
                        Unfiltered
                        </a>
                    </li>

                    <li class="nav-item" ng-show="$ctrl.listConfig.filters.tag">
                        <a href="" class="nav-link active">
                        <i class="ion-pound"></i> {{$ctrl.listConfig.filters.tag}}
                        </a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="col-md-2">Popular tags:</div>
        <div class="col-md-4">
                  <div class="tag-list" ng-show="$ctrl.tags">
                    <a href="" class="tag-default tag-pill"
                      ng-click="$ctrl.changeList({ type: 'all', filters: { tag: tagName } })"
                      ng-repeat="tagName in $ctrl.tags">
                      <span class="badge">{{tagName}}</span>
                    </a>
                  </div>
        
                  <div ng-show="!$ctrl.tagsLoaded">
                    Loading tags...
                  </div>
        
                  <div class="post-preview"
                    ng-show="$ctrl.tagsLoaded && !$ctrl.tags.length">
                    No tags are here... yet.
                  </div>
        
        </div>
        <div class="col-md-12"><br></div>
        <hr />
        <!-- List the current incidences -->
        <incidence-list show="true" limit="3" list-config="$ctrl.listConfig"></incidence-list>		
    </div>
    
</div>