<div class="message-list">
  <div ng-repeat="messageContent in $ctrl.messages" class="message-item {{messageContent.type}}">
    <div class="message-container">
      <div class="meta">
        <span class="author">{{messageContent.user}}</span><br>
        <span class="date">{{messageContent.created_at}}</span>
      </div>
      <div class="message">
        {{messageContent.message}}
      </div>
    </div>
  </div>
</div>