<div class="incidence-meta">
  <a ui-sref="app.profile.main({ username:$ctrl.incidence.author.username })">
    <img ng-src="{{$ctrl.incidence.author.image}}" />
  </a>

  <div class="info">
    <a class="author"
      ui-sref="app.profile.main({ username:$ctrl.incidence.author.username })"
      ng-bind="$ctrl.incidence.author.username">
    </a>
    <span class="date"
      ng-bind="$ctrl.incidence.createdAt | date: 'longDate' ">
    </span>
  </div>

  <ng-transclude></ng-transclude>
</div>
