<div class="col-md-8 col-md-offset-2 text-center gtco-heading" ng-show=$ctrl.show>
  <input type="text" ng-model="$ctrl.selected" uib-typeahead="name for name in $ctrl.names | limitTo:8" class="form-control" placeholder="What are you looking for?">
</div>

<incidence-preview
  incidence="incidence"
  ng-repeat="incidence in $ctrl.list | filter:$ctrl.selected">
</incidence-preview>

<div class="incidence-preview"
  ng-hide="!$ctrl.loading">
  Loading incidences...
</div>

<div class="incidence-preview"
  ng-show="!$ctrl.loading && !$ctrl.list.length">
  No incidences are here... yet.
</div>
<div>
  <list-pagination 
    total-pages="$ctrl.listConfig.totalPages"
    current-page="$ctrl.listConfig.currentPage"
    ng-show="$ctrl.listConfig.totalPages <= 1 || $ctrl.show">
  </list-pagination>
</div>

