<div class="gtco-section">
  <div class="row">
    <center>
      <nav>
        <ul class="pagination">

          <li class="page-item"
            data-ng-init="$ctrl.changePage(1)"
            ng-class="{active: pageNumber === $ctrl.currentPage }"
            ng-repeat="pageNumber in $ctrl.pageRange($ctrl.totalPages)"
            ng-click="$ctrl.changePage(pageNumber)">

            <a class="page-link" href="">{{ pageNumber }}</a>

          </li>

        </ul>
      </nav>
    </center>
  </div>
</div>
